@import url(./Slider-top.css);
@import url(./cards.css);

:root{
    --main-red: #c01e2e;
    --ligth-gray: #414042;

}

.red{
    background: var(--main-red) !important;
}

.gray{
    background: var(--ligth-gray);
}

* {
	box-sizing: border-box;
}
html {
	font-size: calc(4px + 0.45vw);
}
body {
	font-family: 'Montserrat', sans-serif;
	color: #000;
}
a {
	text-decoration: none;
	color: #000;
}
*:focus {
  outline: 0;
}

.main {
	max-width: 114.9rem;
	margin: 0 auto;
	padding: 0 2rem;
}