@import url(./Slider-top.css);
@import url(./cards.css);

:root{
    --main-red: #c01e2e;
    --ligth-gray: #414042;

}

.red{
    background: var(--main-red) !important;
}

.gray{
    background: var(--ligth-gray);
}

* {
	box-sizing: border-box;
}
html {
	font-size: calc(4px + 0.45vw);
}
body {
	max-width: 1920px !important;
	font-family: 'Montserrat', sans-serif;
	color: #000;
	overflow-x: hidden;
}
a {
	text-decoration: none;
	color: #000;
}
h2{
	font-size: 48px !important;
	line-height: 1.24 !important;
    letter-spacing: -0.04em !important;
}p{
	font-size: 18px !important;
    line-height: 1.5 !important;
    letter-spacing: -0.6px !important;
    font-weight: 400 !important;
}

*:focus {
  outline: 0;
}

.main {
	
	margin: 0 auto;
	padding: 0 0;
	overflow: hidden !important;
}

.btn{
	font-size: 1.6em !important;
	width: 14rem;
	border: solid 2px var(--main-red) !important;
	margin: auto;

}

.three{
	padding: 8rem !important;
    background-color: #f2f4fa;
}

.info-card{
	background-color: #fff;
	padding: 3rem 0.1rem 3rem 0.1rem;
    width: 80%;
    margin: auto;
  }

.info-text{
	padding: 5rem !important;
}
.info-text h2{
	font-size: 48px;
	line-height: 1.24;
    letter-spacing: -0.04em;
}
.info-text p{
	font-size: 18px;
    line-height: 1.5;
    letter-spacing: -0.6px;
    font-weight: 400;
}

.info-image{
    /*background-color: var(--main-red);*/
	border-radius: 5px;
	box-shadow: 10px 10px 32px -10px rgb(27 60 185 / 40%), 32px 32px var(--main-red);
}

.padding-info{
	padding: 4rem !important;
	
}

.mg-right{
	margin-right: 19rem !important;
}

.fl-right{
	float: right !important;
}
.inner-container{
   background-image: url(./media/ShopBox_Jamaic-4.png);
   margin-left: 13rem !important;
   background-repeat: no-repeat;
    width: 724px;
    height: 524px;
    object-fit: cover;
    border-radius: 5px;
    box-shadow: 10px 10px 32px -10px rgb(185 27 78 / 40%), 32px 32px var(--main-red);
}

.inner-container .inner img{
    width: 400px;
    margin-top: 23rem !important;
}

.border-left{
	border-radius: 5px;
    box-shadow: 10px 10px 32px -10px rgb(185 27 78 / 40%), -32px 32px var(--main-red);
}
.border-right{
	border-radius: 5px;
    box-shadow: 10px 10px 32px -10px rgb(185 27 78 / 40%), 32px 32px var(--main-red);
}
.container-gap{
    margin-top: 9.5rem !important;
}

.seven{
	
	background-color: #f2f4fa !important;
}

.qanda{
	
	background: url(./media/faq-background.png);
	background-color: #f2f4fa !important;
	background-repeat: no-repeat;
	/*position: absolute;*/
    /*inset: 330px 0px 0px;*/
	background-size: 1490px;
    background-repeat: no-repeat;
    background-position: center center;
}

#accordionExample{
    width: 60% !important;
	padding-top:10rem;
	padding-bottom: 10rem;
    margin: auto;
}

.accordion-button:not(.collapsed) {
    color: #fff !important;
    background-color: var(--main-red) !important;
    box-shadow: inset 0 -1px 0 rgb(0 0 0 / 13%);
	
}
.accordion-button:focus {
    z-index: 3;
    border-color: var(--main-red) !important;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 25%);
}
.accordion-body{
	font-size: 1.5em !important;
}
.accordion-button{
	font-size: 0.6em !important;
}

footer{
	color: #fff;
	background-color: var(--ligth-gray);
}
footer p{
	color: #fff;
	
}
footer a{
	color: #fff;
	
}
@media screen 
  and (device-width: 360px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 2) {
	.row{
		width: fit-content !important;
	}
}